<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="Home.css">
    <title>Home Landing</title>
    <script type ="text/javascript" src="paper-full.js"></script>
    <script src="/draw.js"></script>
</head>
<body>
    
    <div class="container">
            <nav class="navbar navbar-expand-sm bg-dark">

                <!-- Links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" id="Brand" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="\views\canvas.html">Singly Linked List</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="#">Red Black Tree</a>
                            </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
                  
            </nav>
        <div class="jumbotron">
            <h2>Welcome to the Page!</h2>
            <p>This project is part of our Academic Study</p>
        </div>
        <div>
                <canvas id="myCanvas" resize></canvas>

        </div>
        
    </div>
</body>
</html>