<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>B tree</title>
    <link rel="stylesheet" href="Home.css">

   
</head>
<body> -->

<% include partials/header %>
    <h1>BTree</h1>
    <div class margin-bottom = 30px>
        <p><span>Insert into Btree</span></p>
        <input type="number" id="textInsert">
        <p><span>Remove from Btree</span></p>
        <input type="number" id="textRemove">
            
    </div>
    <div><canvas id='myCanvas' resize ></canvas></div>

   
    <script type = "text/javascript" src="paper-full.js"></script>
    <script type ="text/paperscript" src="B-tree.js" canvas ="myCanvas"></script>
</body>
</html>